<!doctype html>
<html>
<head>
<title>shark search</title>
</head>
<body>
{% include "partials/search.j2" %}
<a href="/">back</a>
<h1>Shark search</h1>
<p>Showing {{matches|length}}</p>
<ul>
{% for match in matches %}
<h2>{{match["AcceptedBinomial"]}}</h2>
<li>Common name: {{match["common_names"][0]}}</li>
<li>Genus: {{match["Genus"]}}</li>
<li>Family: {{match["Family"]}}</li>
<li>Order: {{match["Order"]}}</li>
<li>Length: {{match["AvLength"]}}</li>
{% endfor %}
</ul>
</body>
</html>
